@font-face {
	font-family: 'ProximaNova';
	font-weight: 400;
	src: url('~assets/fonts/ProximaNova/ProximaNova-Regular.ttf')
		format('truetype'); /* Safari, Android, iOS */
	text-rendering: optimizeLegibility;
}

@font-face {
	font-family: 'Lehigh-Personal';
	font-weight: 400;
	src: url('~assets/fonts/Lehigh-Personal/Lehigh-Personal-Regular.otf')
		format('truetype'); /* Safari, Android, iOS */
	text-rendering: optimizeLegibility;
}