@font-face {
	font-family: 'VCR OSD Mono';
	font-weight: 400;
	src: url('~assets/fonts/VCR-OSD-Mono.ttf')
		format('truetype'); /* Safari, Android, iOS */
	text-rendering: optimizeLegibility;
}

@font-face {
	font-family: 'ProximaNova';
	font-weight: 400;
	src: url('~assets/fonts/ProximaNova/ProximaNova-Regular.ttf')
		format('truetype'); /* Safari, Android, iOS */
	text-rendering: optimizeLegibility;
}