.home {
  position: relative;
  height: 100vh;

  &__background-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;
    // object-position: top;
  }

  &__canvas {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    pointer-events: none;
  }

  &__overlay {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(105, 43, 214, 0.3);
    background-color: rgba(28, 28, 28, 0.6);
    backdrop-filter: blur(15px);
    background-image: url('@/assets/images/noise.png');
    background-repeat: repeat;
    color: white;
    padding: 0 3rem;
  }

  &__song-cover {
    $size: 35rem;
    max-width: $size;
    max-height: $size;
    width: 100%;
    filter: drop-shadow(0px 10px 25px rgba(0, 0, 0, 0.5));
    background-color: rgba(105, 43, 214, 1);
    border-radius: 10px;
    overflow: hidden;
  }

  &__song-title {
    font-size: 2.6rem;
    line-height: 2.8rem;
    margin-top: 2.8rem;
    color: #f598fa;
    color: rgb(0, 255, 213);
    text-align: center;
    max-width: 40rem;
  }

  &__song-artist {
    font-size: 1.8rem;
    margin: 1.2rem 0 2.2rem;
  }

  &__credit {
    position: absolute;
    bottom: 2.6rem;
    padding: inherit;

    a {
      color: #f598fa;
      color: rgb(0, 255, 213);
      text-decoration: none;
    }
  }

  &__audio-wave {
    position: absolute;
    top: 50%;
    width: 100vw;
    height: 4vh;
    margin: 0 auto;
    background-color: black;
    pointer-events: none;
    transform: translateY(-50%);
    display: none;
  }
}
